{% extends "form/fieldset/user_account.html.twig" %}
{% block user_account_newsletter %}
    {{ parent() }}

    <div class="mb-3">
        {% include '@power_captcha/templates/widget.html.twig' with {pcUserInputField: '#userLoginName'} %}

        {% if Errors.powerCaptchaErrors %}
        <div class="mt-1 text-danger">
            <p>{{ translate({ ident: "POWER_CAPTCHA_CONFIRM_SECURITY_CHECK_HINT" }) }}</p>
        </div>
        {% endif %}
    </div>
{% endblock %}
