{% extends "@power_captcha/templates/default/power_captcha_widget.html.twig" %}
{% block power_captcha_widget %}
    <div class="mb-3">
        {{ parent() }}
        {% if Errors.powerCaptchaErrors %}
        <div class="mt-1 text-danger">
            <p>{{ translate({ ident: "POWER_CAPTCHA_CONFIRM_SECURITY_CHECK_HINT" }) }}</p>
        </div>
        {% endif %}
    </div>
{% endblock %}